version: "3"
services:
  node:
    build:
      context: .
      args:
        - arch=${ARCH:-x86_64}
    command: ./setup_and_run.sh source1z2pwal23rn7acdluxmj9345g2ndr9rsw4ukhyr
    volumes:
      - ./docker/.source:/root/.source
    hostname: node
    expose:
      - 1317 # rest
      - 26657 # rpc
      - 9090 # gRPC
    ports:
      - 26656:26656 # p2p
    environment:
      - GAS_LIMIT=${GAS_LIMIT:-10000000}
      - STAKE_TOKEN=${STAKE_TOKEN:-usource}
  reverse:
    container_name: reverse
    hostname: reverse
    restart: on-failure
    image: nginx
    ports:
      - 1317:1317 # rest
      - 26657:26657 # rpc
      - 9090:9090 # gRPC
    volumes:
      - ./nginx/config:/etc/nginx
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - node
    links:
      - node